bmide/vf4vinfastextend/output/generated/VF4SoaCustomWeb/xids/Custom2012Sourcing.xsd

<?xml version="1.0" encoding="UTF-8" ?>


<!-- 
 @<COPYRIGHT>@
 ==================================================
 Copyright 2012
 Siemens Product Lifecycle Management Software Inc.
 All Rights Reserved.
 ==================================================
 @<COPYRIGHT>@

 ==================================================

   Auto-generated source from service interface.
                 DO NOT EDIT

 ==================================================
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://vf4.com/Schemas/Custom/2020-12/Sourcing"
    xmlns:tns="http://vf4.com/Schemas/Custom/2020-12/Sourcing" 
    xmlns:soa="http://teamcenter.com/Schemas/Soa/2006-03/Base"
     
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <xsd:import namespace="http://teamcenter.com/Schemas/Soa/2006-03/Base"           schemaLocation="SoaBase.xsd" />
    
    


    <xsd:complexType name="AssignSourcePartToBuyerOutput">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="vfPartNumber" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    VF Part Number
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="sourcingProgram" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Sourcing Program
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="errorMessage" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Error message
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
    </xsd:complexType>


    <xsd:element name="AssignSourcePartToBuyerResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="outputs" type="tns:AssignSourcePartToBuyerOutput"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        List of ouput
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element ref="soa:ServiceData" >
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Service Data
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    </xsd:element>


    <xsd:complexType name="GetOrCreateVFCostInput">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="partNumber" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Part number
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="partRevId" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Revision id of the part
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="partType" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Part type
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="createIfNotExisted" type="xsd:boolean" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Create and relate VF Cost object to part if not existed
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
    </xsd:complexType>


    <xsd:complexType name="GetOrCreateVFCostOutput">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="vfCost" type="soa:ModelObject" >
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        VF Cost object
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="partNumber" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Part number
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="partType" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Part type
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="errorMessage" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Error message (if any)
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
    </xsd:complexType>


    <xsd:element name="GetOrCreateVFCostResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="outputs" type="tns:GetOrCreateVFCostOutput"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        List of output
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element ref="soa:ServiceData" >
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Service data
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    </xsd:element>


    <xsd:complexType name="STBuyerAssignmentInfo">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="vfPartNumber" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    VF Part Number to search source part
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="sourcingProgram" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Sourcing Program
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="assigningUserID" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Assigning TC user ID
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
    </xsd:complexType>



    <xsd:element name="AssignSourcePartToBuyerInput">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="inputs" type="tns:STBuyerAssignmentInfo"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        List of assignment info
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
    <!--  AssignSourcePartToBuyerResponse is used as the assignSourcePartToBuyer output element -->


    <xsd:element name="GetOrCreateVFCostInput">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="inputs" type="tns:GetOrCreateVFCostInput"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        List of inputs
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
    <!--  GetOrCreateVFCostResponse is used as the getOrCreateVFCost output element -->



</xsd:schema>
