bmide/vf4vinfastextend/output/generated/VF4SoaCustomWeb/xids/Custom2012Integration.xsd

<?xml version="1.0" encoding="UTF-8" ?>


<!-- 
 @<COPYRIGHT>@
 ==================================================
 Copyright 2012
 Siemens Product Lifecycle Management Software Inc.
 All Rights Reserved.
 ==================================================
 @<COPYRIGHT>@

 ==================================================

   Auto-generated source from service interface.
                 DO NOT EDIT

 ==================================================
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://vf4.com/Schemas/Custom/2020-12/Integration"
    xmlns:tns="http://vf4.com/Schemas/Custom/2020-12/Integration" 
    xmlns:soa="http://teamcenter.com/Schemas/Soa/2006-03/Base"
     
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <xsd:import namespace="http://teamcenter.com/Schemas/Soa/2006-03/Base"           schemaLocation="SoaBase.xsd" />
    
    


    <xsd:complexType name="StructureSearchInMPPInput">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="searchScope" type="soa:ModelObject" >
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Search Scope for Structure Search
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element name="queryCriteria" type="xsd:string"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Query Criteria for Structure Search
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element name="queryCriteriaValues" type="xsd:string"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Query Criteria Values for Structure Search
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="queryName" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Query for Structure Search
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
    </xsd:complexType>


    <xsd:element name="StructureSearchInMPPOutput">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="foundLines" type="soa:ModelObject"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Found lines from structure search
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element ref="soa:ServiceData" >
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Service Data
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="errorString" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    custom error msg
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
    </xsd:complexType>
    </xsd:element>



    <xsd:element name="StructureSearchInMPPInput">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="input" type="tns:StructureSearchInMPPInput" >
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Input for service StructureSearchInMPP
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
    <!--  StructureSearchInMPPOutput is used as the structureSearchInMPP output element -->



</xsd:schema>
