bmide/vf4vinfastextend/output/generated/VF4SoaIntegrationWeb/xids/Integration2012SAPIntegration.xsd

<?xml version="1.0" encoding="UTF-8" ?>


<!-- 
 @<COPYRIGHT>@
 ==================================================
 Copyright 2012
 Siemens Product Lifecycle Management Software Inc.
 All Rights Reserved.
 ==================================================
 @<COPYRIGHT>@

 ==================================================

   Auto-generated source from service interface.
                 DO NOT EDIT

 ==================================================
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://vf4.com/Schemas/Integration/2020-12/SAPIntegration"
    xmlns:tns="http://vf4.com/Schemas/Integration/2020-12/SAPIntegration" 
    xmlns:soa="http://teamcenter.com/Schemas/Soa/2006-03/Base"
     
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <xsd:import namespace="http://teamcenter.com/Schemas/Soa/2006-03/Base"           schemaLocation="SoaBase.xsd" />
    
    


    <xsd:complexType name="GetMasterMaterialsInput">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="partRevUIDs" type="soa:ModelObject" >
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        PART REV UIDs
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="GetMasterMaterialsOutput">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="sapPlant" type="tns:PlantInformation"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        list of plant information structure
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="partType" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    ITEM_PART_CATEGORY
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="revisionNumber" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    ITEM_REV_ID
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="brdCode" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    REV_BROADCODE
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="functionalClass" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    REV_FUNC_CODE
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="oldMaterialNumber" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    ITEM_OLD_PARTNO
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="materialType" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    ITEM_MATERIAL_TYPE
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="uom" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    ITEM_UOM
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="gmPart" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    ITEM_GM_PARTNO
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="materialNumber" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    ITEM_ID
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="description" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    REV_NAME
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="approvalClass" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    ITEM_APPOV_CODE
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="traceablePart" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    ITEM_IS_TRACEABLE
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="descriptionVietnamese" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    REV_VIET_DESCRIPTION
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="tcItemType" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    ITEM_TYPE
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="errorMessage" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    custom error message
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
    </xsd:complexType>


    <xsd:element name="GetMasterMaterialsResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="outputs" type="tns:GetMasterMaterialsOutput"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        output for soa service
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element ref="soa:ServiceData" >
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        service data
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    </xsd:element>


    <xsd:complexType name="PlantInformation">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="plantCode" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Plant Code
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="procurementType" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Procurement Type
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
    </xsd:complexType>


    <xsd:complexType name="TransferOperationToJSONInput">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="operationID" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Operation ID
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="operationRevID" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Operation REV ID
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="json" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    operation JSON
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
    </xsd:complexType>


    <xsd:complexType name="TransferOperationToJSONInputs">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="inputs" type="tns:TransferOperationToJSONInput"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Input operation
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="mesServerIP" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    MES server IP
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="mesSeverUser" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    MES server Username
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="mesSeverPass" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    MES sever Password
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="mesServerClientID" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    MES server Clinet ID
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="mesServerClientSecret" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    MES server Client Secret
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="mesServerScope" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    MES server Scope
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
    </xsd:complexType>


    <xsd:element name="TransferOperationToJSONResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="soa:ServiceData" >
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Servicedata
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element name="operationIDs" type="xsd:string"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        OperationIDs
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element name="operationMessages" type="xsd:string"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Operation Messages
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element name="returnCodes" type="xsd:string"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Return code received from MES
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    </xsd:element>


    <xsd:complexType name="TransferOperationToMESInput">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="operationID" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Operation ID
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="operationRevID" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Operation REV ID
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="xml" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Operation XML
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
    </xsd:complexType>


    <xsd:complexType name="TransferOperationToMESInputs">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="inputs" type="tns:TransferOperationToMESInput"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Input operations
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="mesServerIP" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    MES server IP
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="mesServerPort" type="xsd:integer" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    MES server port
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
        <xsd:attribute name="shopName" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Shop name
                ]]></xsd:documentation>
            </xsd:annotation>
       </xsd:attribute>
    </xsd:complexType>


    <xsd:element name="TransferOperationToMESResponse">
    <xsd:complexType>
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="soa:ServiceData" >
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Servicedata
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element name="operationIDs" type="xsd:string"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Operation IDs
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element name="returnCodes" type="xsd:string"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Return code received from MES
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    </xsd:element>



    <xsd:element name="GetMasterMaterialsInput">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="inputs" type="tns:GetMasterMaterialsInput"  minOccurs="0" maxOccurs="unbounded">
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        inputs
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
    <!--  GetMasterMaterialsResponse is used as the getMasterMaterials output element -->


    <xsd:element name="TransferOperationJSONToMESInput">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="inputs" type="tns:TransferOperationToJSONInputs" >
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        inputs
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
    <!--  TransferOperationToJSONResponse is used as the transferOperationJSONToMES output element -->


    <xsd:element name="TransferOperationToMESInput">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="inputs" type="tns:TransferOperationToMESInputs" >
               <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        inputs
                    ]]></xsd:documentation>
               </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
    <!--  TransferOperationToMESResponse is used as the transferOperationToMES output element -->



</xsd:schema>
